

body {
  color: black; background-color: white;
  font-size: 100.01%;
  font-family: Helvetica,Arial,sans-serif;
  margin: 0; padding: 1em;
}

#navi ul {
  font-size: 0.91em;
  float: left; width: 12em;
  margin: 0; padding: 0;
  border: 1px dashed silver;
}
#navi ul li {
  list-style: none;
  margin: 0; padding: 0.5em;
}
#navi ul a {
  display: block;
  padding: 0.2em;
  font-weight: bold;
  text-decoration:None;
}
#navi ul a:hover {
  color: black; background-color: #eee;
}

div#content {
  margin-left: 12em;
  padding: 0 1em;
  border: 1px dashed silver;
  min-width: 16em; 
}
div#content h1 {
  font-size: 1.5em;
  margin: 0 0 1em;
}
